<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Таксопарки.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Таксопарки.Properties.Settings.ТаксопаркиConnectionString"
            connectionString="Data Source=GRISHA-NEW;Initial Catalog=Таксопарки;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Таксопарки.Properties.Settings>
            <setting name="FormPos" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="FormPosition" serializeAs="String">
                <value>100, 100</value>
            </setting>
        </Таксопарки.Properties.Settings>
    </userSettings>
</configuration>